<h1>Rendición de gastos <%=@current_user.nombre%>
	<%unless !@desde || !@hasta %>
		<%= "[ "+ @desde.strftime("%d/%m/%Y") + " → " + @hasta.strftime("%d/%m/%Y") + " ]"  %>
	<%else%>
		<%= "[TODOS LOS REGISTROS]"  %>
<%end %>
</h1>
<div id="filtro" class="modal">
	<form method="get" action=<%= gastos_path %> >
		DESDE: <input type="date" name="desde" value=<%=@desde%> /><br>
		HASTA: <input type="date" name="hasta" value=<%=@hasta %> /><br>
	<input type="submit" value="Filtrar"i style="align:center">
</form>
</div>
<div class="CSSTableGenerator">
<table>
    <tr>
      <td>Fecha</td>
      <td>Concepto</td>
      <td>Ingreso</td>
      <td>Egreso</td>
      <td>Saldo</td>
      <td>Cliente</td>
      <td class="noPrint"></td>
      <td class="noPrint"></td>
    </tr>

	<% if @saldoInicial != 0 %>
		<tr>
			<td> <%= @desde.strftime("%d/%m/%Y") %> </td>
			<td colspan="3">SALDO INICIAL AL <%= @desde %></td>
			<td><%= @saldoInicial %></td>
			<td colspan="3"></td>	
		
		</tr>
    <% end %>
	<% saldo = 0 + @saldoInicial %>
	<% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= gasto.concepto.html_safe %></td>
        <td><%= gasto.ingreso %></td>
        <td><%= gasto.egreso %></td>
				<td><%= saldo = saldo + gasto.ingreso.to_f - gasto.egreso.to_f %></td>

        <td><%= gasto.cliente.nombre %></td>

				<td class="noPrint"><%= link_to 'Editar', edit_gasto_path(gasto), :remote => true %></td>
        <td class="noPrint"><%= link_to 'Borrar', gasto, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
</table>
<br>
<br>
<table>
    <tr>
      <td>Cliente</td>
      <td>Total</td>
    </tr>

	<% @totalCliente.each do |k,v| %>
		<tr>
			<td><%= Cliente.find(k).nombre %> </td>
			<td><%= v.to_f %></td>
		</tr>	
<% end %>
</table>
</div>
<br>
<div id="nuevo" class="modal_form">
<%= render 'form' %>
</div>

<div id="edit" class="modal_form">
</div>
<%= link_to 'Nuevo(Ctrl + Shift + a)', '#' ,:class=>"noPrint", :id => "crearNuevo", :remote=>true %>
&nbsp
<%= link_to 'Filtros(Ctrl + Shift + f)', '#' ,:class=>"noPrint", :id => "abrirFiltro", :remote=>true %>
&nbsp
<%= link_to 'Nuevo Cliente', new_cliente_path() ,:class=>"noPrint"%>
&nbsp
<%= link_to 'Mi usuario', edit_user_path(@current_user.id) ,:class=>"noPrint"%>
&nbsp
<%= link_to 'Logout', logout_path ,:class=>"noPrint"%>
&nbsp
